/* Keep the labels white, even when an error occurred */
.has-error .label {
	color: white;
}

/* Center repatcha image */ 
#recaptcha_image img {
	margin-left: auto;
	margin-right: auto;
}
/* Fix 2px border issue */
#recaptcha_response_field .input-group-addon {
    border-left: 0 none;
}

#create_org_div {
	display: none;
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
}