/* Keep the labels white, even when an error occurred */
.has-error .label {
	color: white;
}

/* Center Captcha */
.g-recaptcha {
    margin: 15px auto !important;
   	width: auto !important;
   	height: auto !important;
   	text-align: -webkit-center;
   	text-align: -moz-center;
   	text-align: -o-center;
   	text-align: -ms-center;
}
