.active {
  font-weight: bold;
}
.alert {
  position: absolute;
}
.alert.in {
  display: block;
}

.toolbar {
  margin: 10px 0;
  height: 30px;
}
.groups li a i {
  display: inline-block;
  width: 14px;
}
