.active {
  font-weight: bold;
}
.alert {
  position: absolute;
}
.alert.in {
  display: block;
}

.toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 20px;
}
.toolbar .checkbox-wrap {
  padding: 4px 20px 4px 4px;
  display: inline-block;
}
.groups li a i {
  display: inline-block;
  width: 14px;
}

.form-fixed {
  width: 600px;
}

.form-horizontal .control-label {
  width: 90px;
}
.form-horizontal .controls {
  margin-left: 110px;
}

.accordion {
  margin: 0;
}
.accordion-group {
  border: none;
}
.accordion-heading .accordion-toggle {
  padding: 0;
}
.accordion-body {
  padding-left: 10px;
}
.accordion-inner {
  border: none;
  padding: 0;
}

i.icon-blank {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
}
