<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="standardOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.mapfish" level="WARN" />
    <logger name="ch.thus.camel.retry" level="WARN" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="com.mchange" level="WARN" />
    <logger name="org.apache" level="WARN" />
    <logger name="org.apache.camel" level="WARN" />

    <root level="ALL">
        <appender-ref ref="standardOut" />
    </root>
</configuration>
