**/target/
*/jsbuild/venv/
*/jsbuild/env/
**/.project
**/.classpath
**/.settings
.idea/
*.iml
*~
.attach_pid*


# documentation
venv_mkdocs/
.venv_mkdocs/
docs/technical_guides_to_delete/


# mac
.DS_STORE
