[submodule "geonetwork"]
	path = geonetwork
	url = https://github.com/georchestra/geonetwork.git
	branch = georchestra-gn4.2.x
[submodule "geoserver/geoserver-submodule"]
	path = geoserver/geoserver-submodule
	url = https://github.com/georchestra/geoserver.git
	branch = 2.22.2-georchestra
