version: '2'

volumes:
  postgresql_data:
  ldap_data:
  ldap_config:
  geoserver_geodata:
  geoserver_datadir:
  geoserver_tiles:
  mapfishapp_uploads:
  extractorapp_extracts:
  geonetwork_datadir:

services:
  database:
    image: georchestra/database:latest
    build: postgresql
    environment:
      - POSTGRES_USER=georchestra
      - POSTGRES_PASSWORD=georchestra
    volumes:
      - postgresql_data:/var/lib/postgresql/data

  ldap:
    image: georchestra/ldap:latest
    build: ldap
    environment:
        - SLAPD_ORGANISATION=georchestra
        - SLAPD_DOMAIN=georchestra.org
        - SLAPD_PASSWORD=secret
        - SLAPD_ADDITIONAL_MODULES=groupofmembers
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap

  geoserver:
    image: georchestra/geoserver:latest
    depends_on:
      - ldap
    volumes:
      - geoserver_datadir:/mnt/geoserver_datadir
      - geoserver_geodata:/mnt/geoserver_geodata
      - geoserver_tiles:/mnt/geoserver_tiles
    environment:
      - XMS=256M
      - XMX=8G

  proxy:
    image: georchestra/security-proxy:latest
    depends_on:
      - ldap
      - database
    ports:
      - "8080:8080"
    volumes:
      - /etc/georchestra:/etc/georchestra
    environment:
      - XMS=256M
      - XMX=1G

  cas:
    image: georchestra/cas:latest
    depends_on:
      - ldap
    volumes:
      - /etc/georchestra:/etc/georchestra
    environment:
      - XMS=256M
      - XMX=1G

  mapfishapp:
    image: georchestra/mapfishapp:latest
    depends_on:
      - database
    volumes:
      - /etc/georchestra:/etc/georchestra
      - mapfishapp_uploads:/mnt/mapfishapp_uploads
    environment:
      - XMS=256M
      - XMX=2G

  extractorapp:
    image: georchestra/extractorapp:latest
    depends_on:
      - database
    volumes:
      - /etc/georchestra:/etc/georchestra
      - extractorapp_extracts:/mnt/extractorapp_extracts
    environment:
      - XMS=256M
      - XMX=2G

  header:
    image: georchestra/header:latest
    volumes:
      - /etc/georchestra:/etc/georchestra
    environment:
      - XMS=256M
      - XMX=512M

  ldapadmin:
    image: georchestra/ldapadmin:latest
    depends_on:
      - ldap
      - database
    volumes:
      - /etc/georchestra:/etc/georchestra
    environment:
      - XMS=256M
      - XMX=1G

  geonetwork:
    image: georchestra/geonetwork:3-latest
    depends_on:
      - ldap
      - database
    volumes:
      - /etc/georchestra:/etc/georchestra
      - geonetwork_datadir:/mnt/geonetwork_datadir
    environment:
      - XMS=256M
      - XMX=6G

  analytics:
    image: georchestra/analytics:latest
    depends_on:
      - database
    volumes:
      - /etc/georchestra:/etc/georchestra
    environment:
      - XMS=256M
      - XMX=1G
