version: "3"

volumes:
  geowebcache_tiles:


services:

  # standalone geowebcache:
  geowebcache:
    image: georchestra/geowebcache:latest
    volumes:
      - geowebcache_tiles:/mnt/geowebcache_tiles
      - /etc/georchestra:/etc/georchestra
    environment:
      - XMS=1G
      - XMX=2G

  # atlas printing services, eventually queried by the mapfishapp atlas addon
  atlas:
    image: georchestra/atlas:latest
    volumes:
      - /etc/georchestra:/etc/georchestra
    environment:
      - XMS=512M
      - XMX=2G
