<div class="toolbar">
  <a class="btn" href="javascript:history.back();"><i class="icon-arrow-left"></i></a>
  <a class="groups btn dropdown-toggle" ng-click="initGroups()" ng-class="{hide: user.id == null}" data-toggle="dropdown">
    <i class="icon-th-list"></i>
    Groups
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu groups">
    <li class="noclose" ng-repeat="group in user_groups">
      <a href="javascript:void(0);" ng-click="selectGroup(group)">
        <i ng-class="{'icon-ok': group.hasUsers}"></i>
        {{group.name}}
      </a>
    </li>
    <li class="divider"></li>
    <li ng-class="{disabled: !groupsChanged}"><a ng-click="apply()" href="javascript:void(0);">Apply</a></li>
  </ul>
  <a class="actions btn dropdown-toggle" ng-class="{hide: user.id == null}" data-toggle="dropdown">
    Actions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a ng-click="deleteUser(user)" class="delete">Delete user</a></li>
  </ul>
</div>
<form action="" name="userForm">
  <div class="control-group" ng-class="{error: userForm.name.$invalid}">
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="user.name" required />
    <span ng-show="userForm.name.$error.required" class="help-inline">Required</span>
  </div>
  <div class="control-group" ng-class="{error: userForm.email.$invalid}">
    <label for="email">E-Mail</label>
    <input type="email" name="email" ng-model="user.email" required />
    <span ng-show="userForm.email.$error.required" class="help-inline">Required</span>
    <span ng-show="userForm.email.$error.email" class="help-inline">Not a valid E-mail</span>
  </div>
  <a href="javascript:window.history.back();" class="btn cancel">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || userForm.$invalid"
          class="btn btn-primary save">Save</button>
</form>
