<div class="btn-group">
  <a class="btn" href="javascript:history.back();"><i class="icon-arrow-left"></i></a>
</div>
<div class="btn-group">
  <a class="groups btn dropdown-toggle" ng-class="{hide: user == null}" data-toggle="dropdown">
    <i class="icon-th-list"></i>
    Groups
    <span class="caret"></span>
  </a>
</div>
<div class="btn-group">
  <a class="actions btn dropdown-toggle" ng-class="{hide: user == null}" data-toggle="dropdown">
    Actions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a ng-click="deleteUser(user)">Delete user</a></li>
  </ul>
</div>
<form action="" name="userForm">
  <div class="control-group" ng-class="{error: userForm.name.$invalid}">
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="user.name" required />
    <span ng-show="userForm.name.$error.required" class="help-inline">Required</span>
  </div>
  <div class="control-group" ng-class="{error: userForm.email.$invalid}">
    <label for="email">E-Mail</label>
    <input type="email" name="email" ng-model="user.email" required />
    <span ng-show="userForm.email.$error.required" class="help-inline">Required</span>
    <span ng-show="userForm.email.$error.email" class="help-inline">Not a valid E-mail</span>
  </div>
  <a href="javascript:window.history.back();" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || userForm.$invalid"
          class="btn btn-primary">Save</button>
</form>
