<div class="toolbar">
  <div class="checkbox-wrap">
    <input id="checkAll" type="checkbox" ldapadmin-check-all="!allSelected && selectedUsers().length" ng-change="selectAll()" ng-model="allSelected"/>
  </div>
  <div class="btn-group">
    <a class="groups btn dropdown-toggle" ng-click="initGroups()" ng-class="{hide: selectedUsers().length == 0}" data-toggle="dropdown">
      <i class="icon-th-list"></i>
      Groups
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu groups">
      <li class="noclose" ng-repeat="group in user_groups">
        <a href ng-click="selectGroup(group)">
          <i ng-class="{'icon-ok': group.hasUsers == 'all', 'icon-minus': group.hasUsers == 'some'}"></i>
          {{group.name}}
        </a>
      </li>
      <li class="divider"></li>
      <li ng-class="{disabled: !groupsChanged}"><a ng-click="apply()" href>Apply</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <a class="actions btn dropdown-toggle" ng-class="{hide: selectedGroup == null}" data-toggle="dropdown">
      Actions
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a ng-click="deleteGroup(selectedGroup)" class="delete">Delete group</a></li>
      <li><a href="#/groups/{{selectedGroup}}/edit" class="edit">Edit group</a></li>
    </ul>
  </div>
</div>
<table class="users table table-striped table-hover table-condensed">
  <tr ng-repeat="user in users | filter:groupFilter | orderBy:'givenName'" class="">
    <td><input type="checkbox" ng-model="user.selected" /></td>
    <td><a href="#/users/{{user.uid}}">{{user.sn}} {{user.givenName}}</a></td>
    <td>{{user.o}}</td>
  </tr>
</table>
