@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

html, body {
    padding     : 0;
    margin      : 0;
    background  : #fff;
}
#go_head {
    padding     : 0;
    margin      : 0;
    font-family : 'Yanone Kaffeesatz', arial,verdana,helvetica;
    background  : #fff;
    height      : 90px;
}
#go_home {
    float  : left;
    margin : 20px 0 0 10px;
}
#go_home img {
    border : none;
}
#go_head ul {
    float      : left;
    list-style : none;
    margin     : 20px 0 0 10px;
    padding    : 0;
    font-size  : 18px;
    display    : inline;
}
#go_head li {
    margin  : 0;
    padding : 0;
    display : inline-block;
}
#go_head li a {
    color              : #666;
    display            : inline-block;
    background         : #fff;
    padding            : 0 0.3em;
    margin             : 0 0.3em;
    border-bottom      : 1px dotted #ddd;
    height             : 52px;
    line-height        : 52px;
    text-decoration    : none;
    border-radius      : .3em .3em 0 0;
    -moz-transition    : background .3s ease-in;
    -webkit-transition : background .3s ease-in;
    -o-transition      : background .3s ease-in;
    transition         : background .3s ease-in;
    -moz-transition-property    : background,color,border-radius;
    -webkit-transition-property : background,color,border-radius;
    -o-transition-property      : background,color,border-radius;
    transition-property         : background,color,border-radius;
}
#go_head li a:hover {
    background-color : #666;
    color            : #fff;
    border-radius    : 0.3em;
    border-bottom    : none;
}
#go_head ul li.active a {
    background-color : rgb(85,0,106);
    padding          : 0 0.6em;
    border-radius    : 0.3em;
    color            : #fff;
    border           : 0;
}
#go_head .logged {
    margin        : 20px 15px 0 0;
    border        : 1px dotted #ddd;
    border-radius : 0.3em;
    padding       : 0 0.6em;
    width         : auto;
    float         : right;
	height        : 52px;
    line-height   : 52px;
    font-size     : 16px;
}
#go_head .logged span{
	color: #000;
}
#go_head .logged span.light{
	color: #ddd;
}
#go_head .logged {
    position : relative;
}
#go_head .logged div {
    position : absolute;
    top      : 16px;
    right    : 10px;
}
#go_head .logged a {
    text-decoration : underline;
    color           : rgb(84, 0, 105);
}