<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                           http://camel.apache.org/schema/spring
                           http://camel.apache.org/schema/spring/camel-spring-2.16.1.xsd">
    <!--
        This will automatically locate any and all property files you have
        within your classpath, provided they fall under the META-INF/spring
        directory. The located property files are parsed and their values can
        then be used within application context files in the form of
        ${propertyKey}.
    -->
    <context:property-placeholder location="classpath*:WEB-INF/*.properties"/>

    <!--
        Turn on AspectJ @Configurable support. As a result, any time you
        instantiate an object, Spring will attempt to perform dependency
        injection on that object. This occurs for instantiation via the "new"
        keyword, as well as via reflection. This is possible because AspectJ
        is used to "weave" Roo-based applications at compile time. In effect
        this feature allows dependency injection of any object at all in your
        system, which is a very useful feature (without @Configurable you'd
        only be able to dependency inject objects acquired from Spring or
        subsequently presented to a specific Spring dependency injection
        method). Roo applications use this useful feature in a number of
        areas, such as @PersistenceContext injection into entities.
    -->
    <context:spring-configured/>
    <!--
        This declaration will cause Spring to locate every @Component,
        @Repository and @Service in your application. In practical terms this
        allows you to write a POJO and then simply annotate the new POJO as an
        @Service and Spring will automatically detect, instantiate and
        dependency inject your service at startup time. Importantly, you can
        then also have your new service injected into any other class that
        requires it simply by declaring a field for your service inside the
        relying class and Spring will inject it. Note that two exclude filters
        are declared. The first ensures that Spring doesn't spend time
        introspecting Roo-specific ITD aspects. The second ensures Roo doesn't
        instantiate your @Controller classes, as these should be instantiated
        by a web tier application context. Refer to web.xml for more details
        about the web tier application context setup services.
        
        Furthermore, this turns on @Autowired, @PostConstruct etc support. These 
        annotations allow you to use common Spring and Java Enterprise Edition 
        annotations in your classes without needing to do any special configuration. 
        The most commonly used annotation is @Autowired, which instructs Spring to
        dependency inject an object into your class.
    -->
    <context:component-scan base-package="org.georchestra.atlas"/>

    <!-- bean to marshall/unmashall json -->
    <bean id="gson" class="org.apache.camel.component.gson.GsonDataFormat">
        <property name="fieldNamingPolicy" value="LOWER_CASE_WITH_UNDERSCORES"/>
    </bean>

    <bean id="populateProperties" class="org.georchestra.atlas.CamelPopulatePropertiesComponent"/>

    <bean id="jpa" class="org.apache.camel.component.jpa.JpaComponent">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="transactionManager" ref="jpaTxManager"/>
    </bean>

    <bean id="jpaTxManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>


    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="myPU"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

    </bean>

    <!-- A context component that has some utility components to handle typical tasks -->
    <camelContext id="mapfish" xmlns="http://camel.apache.org/schema/spring"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  streamCache="true">


        <restConfiguration component="servlet">
            <componentProperty key="enableCors" value="true"/>
            <dataFormatProperty key="prettyPrint" value="true"/>
        </restConfiguration>

        <!--
        Route for requesting Mapfish Print to generate a PDF.
        Inputs:
            - the body must contain the JSON request.
            - property.printBase must have the base URL of the Mapfish Print service.
        -->
        <rest>
            <post uri="/atlas" consumes="application/json" produces="application/json" enableCORS="true">
                <to uri="direct:split_save"/>
            </post>
        </rest>

        <route id="split_save">
            <from uri="direct:split_save"/>

            <!-- Backup original Json-->
            <setProperty propertyName="rawJson">
                <simple>${body}</simple>
            </setProperty>

            <!-- parse json -->
            <unmarshal ref="gson"/>

            <setProperty propertyName="layout">
                <simple>${body[layout]}</simple>
            </setProperty>

            <setProperty propertyName="dpi">
                <simple>${body[dpi]}</simple>
            </setProperty>

            <setProperty propertyName="displayLegend">
                <simple>${body[displayLegend]}</simple>
            </setProperty>

            <setProperty propertyName="outputFormat">
                <simple>${body[outputFormat]}</simple>
            </setProperty>

            <setProperty propertyName="projection">
                <simple>${body[projection]}</simple>
            </setProperty>

            <setProperty propertyName="uuid">
                <groovy>java.util.UUID.randomUUID().toString()</groovy>
            </setProperty>

            <split>
                <simple>${body[pages]}</simple>

                <!-- generate layers and legendURL property -->
                <to uri="bean:populateProperties"/>

                <transform>
                    <simple>
                        { "layout": "${exchangeProperty.layout}",
                          "outputFormat": "PDF",
                          "displayLegend": "${exchangeProperty.displayLegend}",
                          "attributes": {
                            "title": "${body[title]}",
                            "subtitle": "${body[subtitle]}",
                            "legendURL": "${exchangeProperty.legendURL}",
                            "datasource": [{
                              "map": {
                                "dpi": ${exchangeProperty.dpi},
                                "projection": "${exchangeProperty.projection}",
                                "center": ${body[center]},
                                "scale": ${body[scale]},
                                "layers": ${exchangeProperty.layers}
                        }}]}}
                    </simple>
                </transform>

                <!-- Test Json validity -->
                <!--<marshal ref="gson"/>-->
                <!--<unmarshal ref="gson"/>-->

                <log message="${body}" loggingLevel="ERROR"/>

                <!--<marshal ref="gson"/>-->
                <to uri="file:///tmp/log?autoCreate=true"/>

                <!-- store in DB queue -->
                <to uri="jpa:org.georchestra.atlas.AtlasMFPJob?persistenceUnit=myPU"/>

            </split>

        </route>

        <route id="start_generation">
            <from uri="jpa:org.georchestra.atlas.AtlasMFPJob?persistenceUnit=myPU&amp;consumeLockEntity=false&amp;consumer.delay=2000&amp;maxMessagesPerPoll=1&amp;consumer.query=from org.georchestra.atlas.AtlasMFPJob order by id"/>

            <log message="${body}" loggingLevel="ERROR"/>

        </route>


    </camelContext>



</beans>
