host=https://georchestra-dev.umrthema.univ-fcomte.fr
dbhost=database
dbuser=geosync
dbpass=sonmotdepasse
login=georchestra-ouvert
passwd=sonmotdepasse
workspace=geosync-ouvert
workspace_roles="ROLE_AUTHENTICATED,GROUP_ADMIN,ADMIN"
datastore=geosync_shp_open
pg_datastore=geosync_pg_open
db=geosync_data_open
logs=geosync-open
