.geor-btn-extract {
    background-image: url(../img/famfamfam/basket_go.png) !important;
}
.basket {
    background-image: url(../img/famfamfam/basket.gif) !important;
}
.vector-layer {
    background-image: url(../img/geosilk/vector.png) !important;
}
.raster-layer {
    background-image: url(../img/geosilk/raster.png) !important;
}
.config-layers {
    background-image: url(../img/famfamfam/cog.gif) !important;
}
.error-layer {
    background-image: url(../img/geosilk/error.png) !important;
}
.wms-server {
    background-image: url(../img/geosilk/server_map.png) !important;
}
.wfs-server {
    background-image: url(../img/geosilk/server_vector.png) !important;
}
.server-error {
    background-image: url(../img/geosilk/server_error.png) !important;
}
.home {
    background-image: url(../img/famfamfam/house.png) !important;
}

/* make sure that menu width is correct in IE8 strict mode (See http://extjs.com/forum/showthread.php?t=70701) */
.x-layer[style]{
 width: auto !important;
}

#waiter {
	position:absolute;
	top:0px;
	left:50%;
	margin-left: -62px;
	z-index:100;
	visibility:hidden;
}
#waiter span {
	background:#EFAE00 none repeat scroll 0 0;
	padding:2px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

.x-form-trigger-no-width {
    width: 0 !important;
}

.bbox-fieldset {
    padding: 0 5px 8px 8px;
}
.bbox-panel table {
    width: 100%;
}
.bbox-panel-cell {
    padding-right: 10px;
}

.olControlAttribution {
    font-size: smaller; 
    left:1em;
    bottom:1em;
    position: absolute; 
    display: block;
}
.olControlAttribution a img {
    display: none;
}

.olControlOutOfRangeLayers {
    font-size: 11px; 
    right:1em;
    bottom:1em;
    position: absolute; 
    display: block;
}

.olControlMousePosition {
	bottom:0px !important;
	display:block;
	background:#EBEBEB none repeat scroll 0 0;
	padding:3px;
	font-family:Arial;
	font-size:smaller;
	right:0px !important;
}

.olControlLoadingPanel {
	background-image: url(../img/loadingbar.gif) !important;
	background-position:center;
	background-repeat:no-repeat;
	width:100px;
	height:11px;
	top:5px;
	right:5px;
	position:absolute;
}

.paneltext {
	padding: 4px;
	font-family: tahoma,arial,helvetica;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 100%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: justify;
	text-indent: 0ex;
}

.zoomin {
    background-image:url(../img/mapfish/icon_zoomin.png) !important;
    height:20px !important;
    width:20px !important;
}

.zoomfull {
    background-image:url(../img/mapfish/icon_zoomfull.png) !important;
    height:20px !important;
    width:20px !important;
}

.pan {
    background-image:url(../img/mapfish/icon_pan.png) !important;
    height:20px !important;
    width:20px !important;
}

.back {
    background-image:url(../img/mapfish/resultset_previous.png) !important;
    height:20px !important;
    width:20px !important;
}

.next {
    background-image:url(../img/mapfish/resultset_next.png) !important;
    height:20px !important;
    width:20px !important;
}

.login {
	margin: 0 .5em;
	font: 11px tahoma,verdana,helvetica;	
}

.nounderline {
	text-decoration: none;	
}

.even {
	background: #F0F0F0
}
.odd {
	background: #FEFFFF
}

.overflow-x-hidden {
	overflow-x: hidden;
	overflow-y: auto;
}

/* Correction bug visuel sur champ multiselect "applications" : */
.x-window .x-fieldset {
	margin-bottom: 0px;
}
