<section class="analytics">

  <date class="stats-conf" model="analytics.date" callback="analytics.load(analytics.group)"></date>

  <select class="form-control stats-conf" ng-model="analytics.group" ng-change="analytics.setGroup()"
    ng-options="group.cn as group.label for group in analytics.groups" chosen>
  </select>

  <h4>
    <span translate>analytics.title</span>
    <span ng-if="analytics.group != 'all'">
      <span translate>for</span>
      {{analytics.group}}
    </span>
  </h4>

  <hr>

  <div class="row">
    <stats data="analytics.requests" type="'line'" config="analytics.config.requests"
           title="'analytics.requests'" class="col-md-6"></stats>
    <stats data="analytics.layers" type="'bar'" config="analytics.config.layers"
           title="'analytics.layers'" class="col-md-6" csv-config="analytics.usageOptions"></stats>
  </div>
  <div class="row">
    <stats data="analytics.extraction" type="'bar'" config="analytics.config.extraction"
           title="'analytics.extraction'" class="col-md-6" csv-config="analytics.extractionOptions"></stats>
  </div>

</section>
