body {
    padding:20px;
    padding-top:32px;
}
.x-body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    font-size:13px;
}
p {
    margin-top:15px;
}
h1 {
    font-size:18px;
    margin-bottom:5px;
}

ul {
    margin-bottom:15px;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}


.icon-cancel {
    background-image: url(images/cross-script.png) !important;
}
.icon-pause {
    background-image: url(images/control-pause.png) !important;
}
.icon-up {
    background-image: url(images/plus.png) !important;
}
.icon-down {
    background-image: url(images/minus.png) !important;
}