<ViewContext xmlns="http://www.opengis.net/context" version="1.1.0" id="geobretagne-modele" xsi:schemaLocation="http://www.opengis.net/context http://schemas.opengis.net/context/1.1.0/context.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <General>
    <Window width="800" height="800" />
    <BoundingBox minx="83000" miny="6700000" maxx="420000" maxy="6900000" SRS="EPSG:2154" />
    <Title>carte geobretagne</Title>
    <KeywordList>
        <Keyword>GEOBRETAGNE</Keyword>
        <Keyword>BRETAGNE</Keyword>
        <Keyword>OPENSTREETMAP</Keyword>
    </KeywordList>
    <Abstract>carte geobretagne par defaut constituee des couches referentiel OpenStreetMap et IGN</Abstract>
    <!--
    <LogoURL>
       <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://www.openstreetmap.org/images/osm_logo.png"/>
    </LogoURL>
    -->
    <DescriptionURL>
        <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://www.geobretagne.fr/"/>
    </DescriptionURL>
    <Extension>
      <!--ol:maxExtent xmlns:ol="http://openlayers.org/context" minx="83000" miny="6200000" maxx="550000" maxy="7000000"/-->
      <ol:maxExtent xmlns:ol="http://openlayers.org/context" minx="-357823" miny="6037008" maxx="1313632" maxy="7230727"/>
    </Extension>
  </General>
  <LayerList>
    <!-- orthophotographie -->
    <Layer queryable="0" hidden="1">
      <Server service="OGC:WMS" version="1.1.1">
        <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://tile.geobretagne.fr/service/wms" />
      </Server>
      <Name>satellite</Name>
      <Title>photographie</Title>
      <Abstract>photographies aeriennes IGN, BMO</Abstract>
      <MetadataURL>
          <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://geobretagne.fr/geonetwork?uuid=3a0ac2e3-7af1-4dec-9f36-dae6b5a8c731" />
      </MetadataURL>
      <FormatList>
        <Format current="1">image/jpeg</Format>
      </FormatList>
      <StyleList>
        <Style>
          <Name />
          <Title />
        </Style>
      </StyleList>
      <Extension>
        <ol:maxExtent xmlns:ol="http://openlayers.org/context" minx="-357823.2365" miny="6037008.6939" maxx="2146865.3059" maxy="8541697.2363" />
        <ol:tileSize xmlns:ol="http://openlayers.org/context" width="256" height="256" />
        <ol:numZoomLevels xmlns:ol="http://openlayers.org/context">20</ol:numZoomLevels>
        <ol:units xmlns:ol="http://openlayers.org/context">m</ol:units>
        <ol:isBaseLayer xmlns:ol="http://openlayers.org/context">false</ol:isBaseLayer>
        <ol:opacity xmlns:ol="http://openlayers.org/context">1</ol:opacity>
        <ol:displayInLayerSwitcher xmlns:ol="http://openlayers.org/context">true</ol:displayInLayerSwitcher>
        <ol:singleTile xmlns:ol="http://openlayers.org/context">false</ol:singleTile>
      </Extension>
    </Layer>
    <!-- osm -->
    <Layer queryable="0" hidden="0">
      <Server service="OGC:WMS" version="1.1.1">
        <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://osm.geobretagne.fr/service/wms" />
      </Server>
      <Name>osm:google</Name>
      <Title>OpenStreetMap</Title>
      <Abstract>carte OpenStreetMap licence CreativeCommon by-SA</Abstract>
      <MetadataURL>
          <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://wiki.openstreetmap.org/wiki/FR:OpenStreetMap_License" />
      </MetadataURL>
      <FormatList>
        <Format current="1">image/png</Format>
      </FormatList>
      <StyleList>
        <Style>
          <Name />
          <Title />
        </Style>
      </StyleList>
      <Extension>
        <ol:maxExtent xmlns:ol="http://openlayers.org/context" minx="-357823.2365" miny="6037008.6939" maxx="2146865.3059" maxy="8541697.2363" />
        <ol:tileSize xmlns:ol="http://openlayers.org/context" width="256" height="256" />
        <ol:numZoomLevels xmlns:ol="http://openlayers.org/context">20</ol:numZoomLevels>
        <ol:units xmlns:ol="http://openlayers.org/context">m</ol:units>
        <ol:isBaseLayer xmlns:ol="http://openlayers.org/context">false</ol:isBaseLayer>
        <ol:opacity xmlns:ol="http://openlayers.org/context">1</ol:opacity>
        <ol:displayInLayerSwitcher xmlns:ol="http://openlayers.org/context">true</ol:displayInLayerSwitcher>
        <ol:singleTile xmlns:ol="http://openlayers.org/context">false</ol:singleTile>
      </Extension>
    </Layer>
    <!-- carte ign -->
    <Layer queryable="0" hidden="1">
      <Server service="OGC:WMS" version="1.1.1">
        <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://tile.geobretagne.fr/service/wms" />
      </Server>
      <Name>carte</Name>
      <Title>carte IGN</Title>
      <Abstract>carte IGN : scan25, scan regional, scan 1000</Abstract>
      <MetadataURL>
          <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://www.ign.fr/" />
      </MetadataURL>
      <FormatList>
        <Format current="1">image/jpeg</Format>
      </FormatList>
      <StyleList>
        <Style>
          <Name />
          <Title />
        </Style>
      </StyleList>
      <Extension>
        <ol:maxExtent xmlns:ol="http://openlayers.org/context" minx="-357823.2365" miny="6037008.6939" maxx="2146865.3059" maxy="8541697.2363" />
        <ol:tileSize xmlns:ol="http://openlayers.org/context" width="256" height="256" />
        <ol:numZoomLevels xmlns:ol="http://openlayers.org/context">20</ol:numZoomLevels>
        <ol:units xmlns:ol="http://openlayers.org/context">m</ol:units>
        <ol:isBaseLayer xmlns:ol="http://openlayers.org/context">false</ol:isBaseLayer>
        <ol:opacity xmlns:ol="http://openlayers.org/context">1</ol:opacity>
        <ol:displayInLayerSwitcher xmlns:ol="http://openlayers.org/context">true</ol:displayInLayerSwitcher>
        <ol:singleTile xmlns:ol="http://openlayers.org/context">false</ol:singleTile>
      </Extension>
    </Layer>
    <!-- communes -->
    <Layer queryable="1" hidden="1">
      <Server service="OGC:WMS" version="1.1.1">
        <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://geobretagne.fr/geoserver/wms" />
      </Server>
      <Name>geob_loc:COMMUNE</Name>
      <Title>limite des communes</Title>
      <Abstract>limites des communes</Abstract>
      <MetadataURL>
          <OnlineResource xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://geobretagne.fr/geonetwork?uuid=003-001-001" />
      </MetadataURL>
      <FormatList>
        <Format current="1">image/png</Format>
      </FormatList>
      <StyleList>
        <Style>
          <Name>administratif_gris</Name>
          <Title>limites en gris</Title>
        </Style>
        <Style>
          <Name>administratif_clair</Name>
          <Title>limites en blanc</Title>
        </Style>
        <Style>
          <Name>administratif_jaune</Name>
          <Title>limites en jaune</Title>
        </Style>
        <Style current="1">
          <Name>administratif_violet</Name>
          <Title>limites en violet</Title>
        </Style>
      </StyleList>
      <Extension>
        <ol:tileSize xmlns:ol="http://openlayers.org/context" width="512" height="512" />
        <ol:numZoomLevels xmlns:ol="http://openlayers.org/context">20</ol:numZoomLevels>
        <ol:units xmlns:ol="http://openlayers.org/context">m</ol:units>
        <ol:isBaseLayer xmlns:ol="http://openlayers.org/context">false</ol:isBaseLayer>
        <ol:opacity xmlns:ol="http://openlayers.org/context">0.5</ol:opacity>
        <ol:transparent xmlns:ol="http://openlayers.org/context">true</ol:transparent>
        <ol:displayInLayerSwitcher xmlns:ol="http://openlayers.org/context">true</ol:displayInLayerSwitcher>
        <ol:singleTile xmlns:ol="http://openlayers.org/context">false</ol:singleTile>
      </Extension>
    </Layer>
  </LayerList>
</ViewContext>
