<div class="toolbar">
  <a class="btn" href="javascript:window.history.back();"><i class="icon-arrow-left"></i></a>
  <div class="btn-group">
    <a class="actions btn dropdown-toggle" ng-class="{hide: group.uid == null}" data-toggle="dropdown">
      Actions
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a ng-click="deleteGroup(group)" class="delete">Delete role</a></li>
    </ul>
  </div>
</div>
<hr />
<form class="form-fixed" action="" name="groupForm">

  <div class="row-fluid form-horizontal">
    <div class="control-group" ng-class="{error: groupForm.cn.$invalid}">
      <input type="text" name="cn" ng-model="group.cn" required  placeholder="Role name" class="span8"/>
      <span ng-show="groupForm.cn.$error.required" class="help-inline">Required</span>
    </div>
  </div>

  <div class="row-fluid">
    <div class="control-group" ng-class="{error: groupForm.description.$invalid}">
      <label for="name">Description</label>
      <textarea type="text" name="description" ng-model="group.description" class="span12" />
    </div>
  </div>

  <!-- Textarea -->

  <div class="form-actions">
    <a href="javascript:window.history.back();" class="btn cancel">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || groupForm.$invalid"
            class="btn btn-primary save">Save</button>
  </div>
</form>
