<div class="toolbar">
  <span ng-class="{hide: selectedGroup == null || selectedGroup == 'none'}">
    Group: <b>{{selectedGroup.cn}}</b>
  </span>
  <div class="btn-group">
    <a class="actions btn btn-mini dropdown-toggle" ng-class="{hide: selectedGroup == null || selectedGroup == 'none'}" data-toggle="dropdown">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a ng-click="deleteGroup(selectedGroup.cn)" class="delete">Delete group</a></li>
      <li><a href="#/groups/{{selectedGroup.cn}}/edit" class="edit">Edit group</a></li>
    </ul>
  </div>
</div>
<div class="toolbar shadow">
  <div class="checkbox-wrap">
    <input id="checkAll" type="checkbox" ldapadmin-check-all="!allSelected && selectedUsers().length" ng-change="selectAll()" ng-model="allSelected"/>
  </div>
  <div class="btn-group">
    <a class="groups btn dropdown-toggle" ng-click="initGroups()" ng-class="{hide: selectedUsers().length == 0}" data-toggle="dropdown">
      <i class="icon-th-list"></i>
      Groups
      <span class="caret"></span>
    </a>
    <div groups-dropdown></div>
  </div>
  <div class="btn-group">
    <a class="groups btn dropdown-toggle" ng-class="{hide: selectedUsers().length == 0}" data-toggle="dropdown">
      <i class="icon-share-alt"></i>
      Export
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a ng-click="exportAsCsv()" href>CSV</a></li>
      <li><a ng-click="exportAsVcard()" href>VCard</a></li>
    </ul>
  </div>
</div>
<div id="noone" ng-hide="!selectedGroup || selectedGroup.users.length || selectedGroup == 'none'">
  There are no users in this group.
</div>
<div id="users">
  <table class="users table table-striped table-hover table-condensed" ng-include="'partials/users-list-table.html'">
  </table>
</div>
