/* ISOCHRONE -----------> TOOLS ICONS */

.addon-isochrone-icon{
	background-image: url(../img/isochrone/icon.png)!important;
}

.addon-route-icon{
	background-image: url(../img/route/icon.png)!important;
}

/* ISOCHRONE -----------> GLOBAL STYLE FOR FIELDSET */

.isochrone-fieldset, .isochrone-fieldset-params{
	margin-right:5%;
	margin-left:5%;
}

/* ISOCHRONE -----------> STYLE FOR BAN FIELDSET */
.isochrone-fieldset-ban{
	font: normal 10px 'latoregular',tahoma, arial, helvetica, sans-serif;
}

/* ISOCHRONE -----------> STYLE FOR PARAMS FIELDSET  */
.isochrone-fieldset-params .x-fieldset-header-text, .fsInfo .x-fieldset-header-text {
	font-size:12px;
}

.isochrone-fieldset-params .x-tool {
	background-image: url(../img/tools-sprites-trans.gif);
}

.isochrone-fieldset-params .x-tool-toggle-over {
	background-image: url(../img/tool-sprites.png);
} 

/* ISOCHRONE -----------> MANAGE STYLE FOR MODE BUTTONS */
.pedestrian {
	background-image: url(../img/walk-btn.png);
	width: 24px !important;
	height: 24px !important;
	background-color: white !important ;
}

.vehicle {
	background-image: url(../img/car-btn.png);
	width: 24px !important;
	height: 24px !important;
	background-color: white !important ;
}

.pedestrian:hover {
	background-image: url(../img/walk-hover.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

.vehicle:hover {
	background-image: url(../img/car-hover.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

.pedestrian-pressed {
	background-image: url(../img/walk-selected.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

.vehicle-pressed {
	background-image: url(../img/car-selected.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

.isochrone-mode-button, .isochrone-mode-button .x-btn-pressed{
	padding-top: 3px;
	background-color: white !important;
}

/* ISOCHRONE -----------> MANAGE STYLE FOR CLEAR & SAVE BUTTONS */
.isochrone-button-clear{
	background-image: url(../img/isochrone/clear-blue.png);
	height: 16px !important;
	width: 16px !important;	
}

.isochrone-button-clear:hover{
	background-image: url(../img/isochrone/clear-hover.png);	
}

.isochrone-button-saveone {
	background-image: url(../img/isochrone/download-hover.png);	
	height: 16px !important;
	width: 16px !important;
}

.isochrone-button-saveone:hover{
	background-image: url(../img/isochrone/download-blue.png);		
}

/* ISOCHRONE -----------> STYLE FOR TIME TEXTFIELD */
.isochrone-textfield-time {
	border:none;
}

/* ISOCHRONE -----------> STYLE FOR MODE COMPOSITEFIELD */
.isochrone-compositefield-mode {
	width:76px;
	margin-left:auto;
	margin-right:auto;
}

/* ISOCHRONE & ROUTE -----------> STYLE FOR HOVER AROUND BUTTON */
.actionBtn:hover, .actionBtn:hover .x-btn-text{
	background-color: rgba(255,255,255,0) !important;
}

/* ROUTE -----------> STYLE FOR ACTIONS BUTTONS */
.refresh{
	background-image: url(../img/refresh-blue.png);
	height: 24px !important;
	width: 24px !important;		
}

.refresh:hover{
	background-image: url(../img/refresh-hover.png);
}

.calcul{
	background-image: url(../img/flag-blue.png);
	height: 24px !important;
	width: 24px !important;		
}

.navIcon {
    background-image: url(../img/directions.png);	
	height: 24px !important;
	width: 24px !important;
}

.navIcon:hover {
	background-image: url(../img/directions_24px.png);	
}

.fieldBtn .x-btn-noicon,.fieldBtn .x-btn-small,.fieldBtn .x-btn-text {
	background-image: url(../img/16px/flag-blue.png);	
	height:14px !important;
}

.gpsIcon {
	background-image: url(../img/16px/gps-pressed.png);
	background-repeat:no-repeat;
}

.gpsIcon:hover {
	background-image: url(../img/16px/gps-blue.png);
	background-repeat:no-repeat;
}

.addIcon {
	background-image: url(../img/16px/add-blue-simple.png);
	background-repeat:no-repeat;
}
.addIcon:hover{
	background-image: url(../img/16px/add-white-pressed.png);
	
}
.addHover{
	background-image: url(../img/16px/add-pressed.png);
	background-repeat:no-repeat;
}

.rmIcon {
	background-image: url(../img/16px/clear-blue.png);
	background-repeat:no-repeat;
}

.rmIcon:hover{
	background-image: url(../img/16px/clear-hover.png);		
}

/* ROUTE -----------> STYLE FOR BAN FIELDSET */
.fBan {
	font: normal 10px 'latoregular',tahoma, arial, helvetica, sans-serif;
}

/* ROUTE -----------> GLOBAL STYLE FOR FIELDSET */
.fsOptions .x-fieldset-header-text, .fsInfo .x-fieldset-header-text {
	font-size:12px;
}

.fsOptions, .fsInfo {
	margin-right:5%;
	margin-left:5%;
}

.fsOptions .x-tool, .fsInfo .x-tool {
	background-image: url(../img/tools-sprites-trans.gif);
}

.fsOptions .x-tool-toggle-over, .fsInfo .x-tool-toggle-over {
	background-image: url(../img/tool-sprites.png);
} 


.fsStep{
	margin-right:5%;
	margin-left:5%;
}

.fsInfo {
	border-top:1px solid;
    border-top-color:rgba(0,126,195,0.7);
}

/* STYLE FOR COMPOSITEFIELD  */

.cpMode {
	padding-top: 3px;
	width:76px;
	margin-left:auto;
	margin-right:auto;
}
