Hello,

Your Atlas Job is now finished and available for downloading ; you can download
it at the following URL:

${baseUrl}/jobs/${jobId}/${token}.${extension}

Best regards,

-- the geOrchestra Atlas printing system