# Les proprietes listees ici sont utilisees dans la configuration
# des modules afin d'en centraliser les parametres communs.
# La configuration ci-dessous correspond au projet GeoBretagne.
# Elle peut etre copiee et adaptee pour configurer geOrchestra
# pour d'autres contextes.
#
# Les vrais mots de passe ne doivent evidemment pas etre
# decrits ici car ils seraient publies dans le depot svn.
# Pour ces raisons, ce fichier DIST doit être copié dans shared.maven.filters
# puis configuré localement.

# usage :
# * copier ce fichier shared.maven.filters.DIST vers shared.maven.filters
# * configurer les mots de passe des comptes privilégiés
# construire le projet à la racine des sources :
# ./mvn -Pgeobretagne install

#
# mots de passe des comptes privilegies
#
shared.geobretagne.credentials.ldap.password=CHANGEME
shared.geobretagne.credentials.geoserver.password=CHANGEME




#
# adresse publique sous laquelle les modules sont publies
#
shared.server.name=geobretagne.fr
shared.server.port=80

#
# parametres de l'annuaire ldap
#
shared.ldap.host=rbr-vbdd01
shared.ldap.port=389
shared.ldapUrl=ldap://@shared.ldap.host@:@shared.ldap.port@
shared.ldap.baseDn=dc=geobretagne,dc=fr
shared.ldap.userSearchBaseDN=ou=users
shared.ldap.groupSearchBaseDN=ou=groups
shared.ldap.admin.dn=cn=admin,@shared.ldap.baseDn@
shared.ldap.admin.password=@shared.geobretagne.credentials.ldap.password@

#
# compte privilegie geoserver
#
shared.privileged.geoserver.user=extractorapp_priveleged_admin
shared.privileged.geoserver.pass=@shared.geobretagne.credentials.geoserver.password@

#
# adresses des serveurs tomcat par module
#
shared.server.extractorapp=rbr-vgeobretagne02:8780
shared.server.mapfishapp=rbr-vgeobretagne02:8480
shared.server.geoserver=rbr-vgeobretagne02:8280
shared.server.geonetwork=rbr-vgeobretagne02:8580

#
# repertoire contenant les serveurs tomcat
#
shared.tomcat.dir=/home/geoadm/geobretagne/servers/

#
# reportoire contenant les fichiers journeaux
#
shared.log.dir=/var/log/georchestra/
