<section class="delegations" ng-if="profile === 'SUPERUSER'">

  <div class="col-md-12">

    <input type="text" class="filter-table form-control pull-right" ng-model="delegations.q" placeholder="{{'delegations.filter' | translate}}"></input>
    <i class="glyphicon glyphicon-remove-sign filter-table-reset" ng-show="delegations.q != ''" ng-click="delegations.q = ''"></i>
    <h3 class="delegations-title">
      <ng-pluralize count="delegations.delegations.length"
                    when="{'0': '{{ &quot;delegations.title_no_delegations&quot; | translate }}',
                           '1': '{} {{ &quot;delegations.title&quot; | translate }}',
                           'other': '{} {{ &quot;delegations.title_plural&quot; | translate }}'}">
      </ng-pluralize>
    </h3>

    <table class="table table-striped table-condensed">

      <thead>
        <tr>
          <th translate>home.user</th>
          <th translate>nav.orgs</th>
          <th translate>nav.roles</th>
        </tr>
      </thead>

      <tbody>
        <tr dir-paginate="delegation in delegations.delegations | filter:delegations.q | itemsPerPage: delegations.itemsPerPage">
          <td>
            <a ng-link="user({id: delegation.uid, tab: 'delegations'})">{{::delegation.uid}}</a>
          </td>
          <td>{{::delegation.orgs.join(', ')}}</td>
          <td>{{::delegation.roles.join(', ')}}</td>
        </tr>
      </tbody>

    </table>

    <dir-pagination-controls></dir-pagination-controls>

  </div>

</section>
