body {
  padding-top: 70px;
}

groups input {
  margin-bottom: 1em;
}

.chosen-container-multi .chosen-choices {
  border-radius: 4px;
  padding: 2px 5px;
  li.search-choice {
    background: #f5f5f5;
    box-shadow: none;
  }
}
.chosen-container {
  * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
  .chosen-drop {
    border-top: 1px solid #aaa;
    border-radius: 4px;
    top: calc(100% + 2px);
  }
}
