body {
  padding-top: 7em;
}
@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
  .panel .panel-body {
    min-height: 22em;
  }
}

groups input {
  margin-bottom: 1em;
}


.container .nav {
  width         : 130%;
  border        : 1px solid rgb(221, 221, 221);
  border-radius : 5px;
  margin-top    : 2.75em;
}

// MESSAGES
.user-messages {
  select {
    margin-bottom: 0.25em;
    margin-top: -0.25em;
  }
}

.stats {
  .pull-right {
    margin-top: -.75em;
  }
  table {
    margin-top: 1em;
  }
}

// CHARTS
.chartist {
  height: 25em;
}
.ct-label {
  font-size: 1rem;
}
.ct-barlabel {
  font-size: 1rem;
  fill: white;
}
.ct-series-a
.ct-bar,
.ct-series-a
.ct-line,
.ct-series-a
.ct-point,
.ct-series-a
.ct-slice-donut
{
  stroke: #337ab7;
}

// CHOSEN
.chosen-container-multi .chosen-choices {
  border-radius: 4px;
  padding: 2px 5px;
  li.search-choice {
    background: #f5f5f5;
    box-shadow: none;
  }
}
.chosen-container {
  * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
  .chosen-drop {
    border-top: 1px solid #aaa;
    border-radius: 4px;
    top: calc(100% + 2px);
  }
}

[flash-message] {
  position    : absolute;
  width       : 20em;
  left        : 50%;
  margin-left : -10em;
  top         : 1em;
  z-index     : 2000;
}
