<div class="alert alert-info">
  <a ng-link="users({id: 'all'})" class="category" ng-class="{active: !roles.activeRole}" translate>role.allusers</a>
  <hr>
  <div class="create-btn">
    <a ng-link="newUser" class="btn btn-default" translate>role.newuser</a>
    <a ng-click="roles.createRole()" class="btn btn-default" translate>role.newrole</a>
  </div>
</div>

<input ng-model="roles.q" class="form-control input-sm" placeholder="{{'role.search' | translate}}">

<h5 ng-if="roles.q == ''" translate>role.system</h5>
<div ng-repeat="role in roles.adminList" ng-if="roles.q == ''">
  <strong ng-if="(roles.activeRole.cn == role.cn)">
    {{::role.cn}} ({{::role.users.length}})
  </strong>
  <a ng-link="users({id: role.cn})" ng-if="(roles.activeRole.cn != role.cn)">
    {{::role.cn}}
   ({{::role.users.length}})
 </a>
</div>

<div ng-repeat="(key, role) in roles.index" ng-if="roles.q != ''">
  <a ng-link="users({id: role.cn})" title={{::role.description}}
      ng-if="role.cn.toLowerCase().indexOf(roles.q.toLowerCase()) >= 0">
    {{::role.cn}} ({{::role.users.length}})
  </a>
</div>
