<form class="form-horizontal">

  <div ng-if="!model">pas de model</div>

  <div class="row org-form">

    <div class="col-md-12">


      <div class="form-group form-group-sm" ng-class="{required: required.name}">
        <label class="col-sm-4" for="name" translate>org.name</label>
        <div class="col-sm-8">
          <input ng-model="model.name" class="form-control" id="name"
            placeholder="" ng-required="required.name">
        </div>
      </div>

      <div class="form-group form-group-sm" ng-class="{required: required.shortName}">
        <label class="col-sm-4" for="shortName" translate>org.shortName</label>
        <div class="col-sm-8">
          <input ng-model="model.shortName" class="form-control" id="shortName"
            placeholder="" ng-required="required.shortName">
        </div>
      </div>


      <div class="form-group form-group-sm" ng-class="{required: required.type}">
        <label class="col-sm-4" for="type" translate>org.type</label>
        <div class="col-sm-8">
          <select ng-model="model.type" class="form-control" id="type"
            placeholder="" ng-required="required.type">
            <option ng-repeat="o in orgTypeValues" value="{{o}}">{{::o}}</option>
          </select>
        </div>
      </div>

      <div class="form-group form-group-sm" ng-class="{required: required.address}">
        <label class="col-sm-4" for="address" translate>org.address</label>
        <div class="col-sm-8">
          <input ng-model="model.address" class="form-control" id="address"
            placeholder="" ng-required="required.address">
        </div>
      </div>

    </div>

  </div>

</form>
