<section class="users">

  <browse class="col-md-4 roles aside" roles="users.roles" active-promise="users.activePromise"></browse>

  <div class="col-md-8">

    <input type="text" class="filter-table form-control pull-right" ng-model="users.q" placeholder="{{'role.filter_users' | translate}}"></input>
    <i class="glyphicon glyphicon-remove-sign filter-table-reset" ng-show="users.q != ''" ng-click="users.q = ''"></i>
    <h3 ng-if="!users.activeRole" class="roles-title">{{users.users.length}} <span translate>role.users</span></h3>
    <h3 ng-if="users.activeRole" class="roles-title">
      {{users.activeRole.cn}}
      <button class="btn btn-default btn-xs delete" title="{{ 'role.delete' | translate }}"
        ng-click="users.deleteRole()" ng-show="users.canDelete">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    </h3>
    <p ng-if="users.activeRole">
      <em class="content-description" contenteditable="true" ng-init="users.initEditable()">{{users.activeRole.description}}</em>
    </p>

    <table class="table table-striped table-condensed">

      <thead>
        <tr>
          <th translate>users.user</th>
          <th translate>users.login</th>
          <th translate>users.organization</th>
          <th translate>users.email</th>
        </tr>
      </thead>

      <tbody>
        <tr dir-paginate="user in users.users | filter:users.q | itemsPerPage: users.itemsPerPage">
          <td>
            <a ng-link="user({id: user.uid, tab: 'infos'})">{{::user.sn}} {{::user.givenName}}</a>
          </td>
          <td>{{::user.uid}}</td>
          <td>{{::user.org}}</td>
          <td>{{::user.mail}}</td>
        </tr>
      </tbody>

    </table>

    <dir-pagination-controls></dir-pagination-controls>

  </div>

  <div ng-if="users.newRole" class="background" ng-cloack>

    <div class="panel panel-default">

      <div class="panel-heading">
        <a class="btn close" ng-click="users.close()">&times;</a>
        <span translate>users.createRole</span>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" name="roleForm">

          <div class="form-group" ng-class="{'has-error': roleForm.newRoleName.$invalid && roleForm.newRoleName.$dirty}">
            <label for="newRoleName" class="col-sm-4 control-label" translate>users.newRole</label>
            <div class="col-sm-8">
              <input ng-model="users.newRoleName" id="newRoleName" class="form-control" name="newRoleName"
                placeholder="{{ 'users.newRoleName' | translate}}" validate-role="users.roles"/>
            </div>
          </div>
          <div class="form-group">
            <label for="newRoleDesc" class="col-sm-4 control-label" translate>users.newRoleDesc</label>
            <div class="col-sm-8">
              <textarea ng-model="users.newRoleDesc" id="newRoleDesc" class="form-control" Desc="newRoleDesc"></textarea>
            </div>
          </div>

          <hr>

          <button class="btn btn-primary pull-right" ng-disabled="roleForm.$invalid" ng-click="users.saveRole()">
            <span translate>users.save</span>
          </button>
          <button class="btn btn-link pull-right" ng-click="users.close()" translate>users.cancel</button>
        </form>
      </div>

    </div>

  </div>

  <div ng-if="users.delete" class="background" ng-cloack>

    <div class="panel panel-default">

      <div class="panel-heading">
        <a class="btn close" ng-click="users.close()">&times;</a>
        <span translate>users.confirm</span>
      </div>
      <div class="panel-body">
        <p>
          <span translate>users.confirmText</span>
          «<em>{{users.activeRole.cn}}</em>» ?
        </p>
        <hr>
        <button class="btn btn-primary pull-right" ng-click="users.confirmDeleteRole()">
          <span translate>users.delete</span>
        </button>
        <button class="btn btn-link pull-right" ng-click="users.close()" translate>users.cancel</button>
      </div>

    </div>

  </div>

</section>
