.addon-magnifier {
  background-image: url(../img/zoom.png) !important;
}

.olControlMagnifier {
    right: 5px;
    top: 5px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #7f7f7f;   
    border: 1px solid #7f7f7f;
}

.olMagnifierFactorDisplay {
    bottom: 0;
    right: 0; 
    border-radius: 10px 0 0 0;
    border: 1px solid #7f7f7f;
    font-size: smaller;
    background-color: #000000;
    color: #ffffff;
    padding: 2px;
}
