src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/spring/
src/main/webapp/WEB-INF/templates/
src/main/webapp/WEB-INF/views/header.jsp
src/main/webapp/WEB-INF/views/validation.jsp
src/main/webapp/privateui/css/main.css
src/main/webapp/privateui/index.html
src/main/webapp/privateui/partials/users-list-table.html
