<section class="logs">

  <h4 translate>logs.title</h4>

  <hr>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="header-filter"><span translate>logs.date</span></th>
        <th class="header-filter">
          <select class="pull-right form-control input-sm" ng-model="logs.sender">
            <option value="" translate>logs.allsender</option>
            <option ng-repeat="sender in logs.senders" value="{{::sender}}">{{::sender}}</option>
          </select>
          <span translate>logs.sender</span>
        </th>
        <th class="header-filter">
          <span translate>logs.target</span>
        </th>
        <th class="header-filter">
          <select class="pull-right form-control input-sm" ng-model="logs.type">
            <option value="" translate>logs.alltype</option>
            <option ng-repeat="type in logs.types" value="{{::type}}">{{::type}}</option>
          </select>
          <span translate>logs.type</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="log in logs.logs.logs | logs: logs.type:logs.sender | itemsPerPage: logs.itemsPerPage">
        <td>{{::log.date | date: 'mediumDate'}}
        <td>{{::log.admin}}
        <td>{{::log.target}}
        <td>{{::log.type}}
      </tr>
    </tbody>
  </table>

  <dir-pagination-controls></dir-pagination-controls>

</section>
