<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta name="Content-Language" content="${c.lang}" />

        <title>Camptocamp MapFish Application</title>
        
        <link rel="shortcut icon" type="image/x-icon" href="${url('/app/images/favicon.ico')}" />

        <link rel="stylesheet" type="text/css" href="${url('/lib/externals/ext/resources/css/ext-all.css')}" />
        <link rel="stylesheet" type="text/css" href="${url('/lib/externals/ext/resources/css/xtheme-gray.css')}" />
        <link rel="stylesheet" type="text/css" href="${url('/lib/externals/openlayers/theme/default/style.css')}" />
        <link rel="stylesheet" type="text/css" href="${url('/app/css/main.css')}" />

        <script type="text/javascript" src="${url('/lib/externals/ext/adapter/ext/ext-base.js')}"></script>
% if c.debug:
        <script type="text/javascript" src="${url('/lib/externals/ext/ext-all-debug.js')}"></script>
% else:
        <script type="text/javascript" src="${url('/lib/externals/ext/ext-all.js')}"></script>
% endif
        <script type="text/javascript" src="${url('/lib/externals/ext/src/locale/ext-lang-%s.js' % c.lang)}"></script>
% if c.debug:

        <!--<script type="text/javascript" src="${url('/lib/proj4js/proj4js.js')}"></script>-->
        <script type="text/javascript" src="${url('/lib/externals/openlayers/lib/OpenLayers.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/openlayers/lib/OpenLayers/Lang/fr.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext/lib/GeoExt.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/SimplePrint/lib/GeoExt.ux/SimplePrint.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/Measure/lib/GeoExt.ux/Measure.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/Measure/lib/GeoExt.ux/MeasureLength.js')}"></script>
        <script type="text/javascript" src="${url('/lib/externals/geoext.ux/ux/Measure/lib/GeoExt.ux/MeasureArea.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Lang/en.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Lang/fr.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Map.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/LayerTree.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Tools.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Print.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Locator.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/Permalink.js')}"></script>
        <script type="text/javascript" src="${url('/app/lib/App/main.js')}"></script>
% else:
        <script type="text/javascript" src="${url('/build/app.js')}"></script>
% endif
        <script type="text/javascript" src="${url(controller='printer', action='info', var='printCapabilities', url=url(controller='printer', action='info'))}"></script>
        <script type="text/javascript">
            OpenLayers.ImgPath = "${url('/lib/externals/openlayers/img/')}";

            // uncomment this line if you use the OGC proxy
            //OpenLayers.ProxyHost = "${url(controller='ogcproxy', action='index', url='')}";

            Ext.BLANK_IMAGE_URL = "${url('/lib/externals/ext/resources/images/default/s.gif')}";
        </script>
    </head>

    <body>
        <div id="header">
            <h1>MapFish Application Header</h1>
        </div>
    </body>
</html>
