.x-grid3 .x-window-ml{
    padding-left: 0;
}
.x-grid3 .x-window-mr {
    padding-right: 0;
}
.x-grid3 .x-window-tl {
    padding-left: 0;
}
.x-grid3 .x-window-tr {
    padding-right: 0;
}
.x-grid3 .x-window-tc .x-window-header {
    height: 3px;
    padding: 0;
    overflow:hidden;
}
.x-grid3 .x-window-mc {
    border-width: 0;
    background: #cdd9e8;
}
.x-grid3 .x-window-bl {
    padding-left: 0;
}
.x-grid3 .x-window-br {
    padding-right: 0;
}
.x-grid3 .x-panel-btns {
    padding: 0;
}
.x-grid3 .x-panel-btns td.x-toolbar-cell {
    padding: 3px 3px 0;
}
.x-box-inner {
    zoom: 1;
}
.icon-user-add {
    background-image: url(../../lib/ext-3.2.1/examples/shared/icons/fam/user_add.gif) !important;
}
.icon-user-delete {
    background-image: url(../../lib/ext-3.2.1/examples/shared/icons/fam/user_delete.gif) !important;
}
.icon-user-copy {
    background-image: url(../images/user_dup.png) !important;
}
.x-toolbar-cell .label-region {
    padding-right: 2;
}
