<div ng-if="groups.isRoot">
  <a ng-link="users({id: 'all'})">All users</a>
  <hr>
  <h4>System groups</h4>
  <div ng-repeat="group in groups.adminList">
    <strong ng-if="(groups.activeGroup.cn == group.cn)">
      {{::group | unprefix: groups.prefix}} <span class="badge">{{::group.users.length}}</span>
    </strong>
    <a ng-link="users({id: group.cn})" ng-if="(groups.activeGroup.cn != group.cn)">
      {{::group.cn}}
     <span class="badge">{{::group.users.length}}</span>
   </a>
  </div>
  <hr>
</div>

<h4 ng-if="groups.isRoot">Application groups</h4>

<input ng-if="groups.isRoot" ng-model="groups.q" class="form-control" placeholder="Search groups">

<div ng-if="groups.q == ''">

  <a ng-if="groups.enableBack" class="btn btn-default btn-xs" ng-link="users({id: groups.prefix.parent})">
    «
  </a>
  <span ng-if="groups.enableBack">{{groups.prefix.cn || 'Tous'}}</span>

  <div ng-repeat="group in groups.tree" ng-if="groups.filter(group, groups.activeGroup)">

    <strong ng-if="(groups.activeGroup.cn == group.cn) && (group.children.length == 0)">
      {{::group | unprefix: groups.prefix}} <span class="badge">{{::group.users.length}}</span>
    </strong>
    <a ng-link="users({id: group.cn})" title={{::group.description}}
      ng-if="(groups.activeGroup.cn != group.cn) && (groups.prefix.cn.indexOf(group.cn)!=0)">
      <span ng-if="group.children.length > 0">+</span>
      {{::group | unprefix: groups.prefix}} <span class="badge">{{::group.users.length}}</span>
    </a>

    <groups groups="group.children" active-group="groups.activeGroup" index="groups.index"
    ng-if="groups.isExpanded(group, groups.activeGroup)"></groups>

  </div>

</div>

<div ng-repeat="(key, group) in groups.index" ng-if="groups.isRoot && groups.q != ''">
  <a ng-link="users({id: group.cn})" title={{::group.description}}
      ng-if="group.cn.toLowerCase().indexOf(groups.q.toLowerCase()) >= 0">
    {{::group.cn}} <span class="badge">{{::group.users.length}}</span>
  </a>
</div>
