<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true">
	    <security:custom-filter position="PRE_AUTH_FILTER" ref="preAuthenticationFilter" />
        <security:csrf disabled="true" />
	</security:http>

	  <bean id="preAuthenticationFilter" class="org.springframework.security.web.authentication.preauth.RequestHeaderAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="checkForPrincipalChanges" value="true"/>
        <property name="exceptionIfHeaderMissing" value="false"/>
        <property name="principalRequestHeader" value="sec-username" />
      </bean>

    <security:authentication-manager alias="authenticationManager">
       <security:authentication-provider ref="preauthAuthProvider" />
    </security:authentication-manager>
	
	<bean id="preauthAuthProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
	    <property name="preAuthenticatedUserDetailsService" ref="authUserDetailsService" />
	</bean>
	
	<bean id="authUserDetailsService" class="org.georchestra.lib.springutils.GeorchestraUserDetailsService" />


          

</beans>
