<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <properties>
        <property name="geofence_logpath">@shared.log.dir@</property>
    </properties>

    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </Console>

        <RollingFile name="R"
                 fileName="${sys:geofence_logpath}/geofence.log"
                 filePattern="${sys:geofence_logpath}/geofence-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ABSOLUTE} %5p %c{1}:%L - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- Keep 10 backup files -->
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>
  
    <!-- 
        <logger name="org.hibernate">
            <level value="debug"/>
            <appender-ref ref="R"/>
        </logger>
    -->

    <loggers>
        <logger name="it.geosolutions.geofence" level="@shared.default.log.level@">
            <!--<appender-ref ref="R"/>-->
        </logger>

        <root level="@shared.default.log.level@">
            <appender-ref ref="R" />
        </root>
    </loggers>
</configuration>
