<section class="org">

  <h4>
    <a ng-link="orgs({'org': 'all'})" translate>org.orglist</a>
    <span>/</span>
    {{::org.org.name}}
  </h4>

  <hr>

  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="tab in org.tabs" ng-class="{active: org.tab==tab}">
        <a ng-link="org({org: org.org.id, tab: tab})">{{ 'tab.' + tab | translate}}</a>
      </li>
    </ul>
  </div>

  <div class="col-md-10">

    <div class="panel panel-default" ng-class="{'panel-danger': org.org.status !== 'REGISTERED'}">

      <div class="panel-heading text-center" ng-if="org.tab=='infos' && org.delegations.length > 0 && profile === 'SUPERUSER'">
        <span translate>org.ohasdeleg</span>
        <span ng-repeat="delegation in org.delegations">
          <a ng-link="user({id: delegation.uid, tab: 'delegations'})">{{ delegation.uid }}</a>{{$last ? '' : ', '}}
        </span>
      </div>

      <div class="panel-heading text-center" ng-if="org.org.status !== 'REGISTERED'">
        <span translate>org.pendingmsg</span>
        <button class="btn btn-default" ng-click="org.confirm()" translate>org.confirm</button>
      </div>

      <div class="panel-body" ng-if="org.tab=='infos'">
        <div ng-inline="templates/orgForm.tpl.html"
          ng-init="model=org.org;promise=org.org.$promise;required=org.required;orgTypeValues=org.orgTypeValues"></div>
        <hr>
        <div class="pull-right">
          <button ng-click="org.save()" class="btn btn-primary" translate>org.save</button>
        </div>
      </div>

      <div class="panel-body" ng-if="org.tab=='area'">
        <areas item="org.org"></areas>
      </div>

      <div class="panel-body" ng-if="org.tab=='users'">
        <h3 class="roles-title">
          <ng-pluralize count="org.users.length"
                        when="{'0': '{{ &quot;role.users_none&quot; | translate }}',
                               '1': '{} {{ &quot;role.user&quot; | translate }}',
                               'other': '{} {{ &quot;role.users&quot; | translate }}'}">
        </h3>
        <table class="table table-striped table-condensed">

          <thead>
            <tr>
              <th translate>users.user</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="user in org.users">
              <td>
                <a ng-link="user({id: user.uid, tab: 'infos'})">{{::user.sn}} {{::user.givenName}}</a>
              </td>
            </tr>
          </tbody>

        </table>

      </div>

      <div class="panel-body" ng-if="org.tab=='manage'">
        <div class="alert alert-danger clearfix">
          <i class="glyphicon glyphicon-exclamation-sign"></i>
          <span translate>org.warning</span>
          <button  ng-click="org.delete()" class="btn btn-danger" translate>org.delete</button>
        </div>
      </div>

  </div>

</section>
